<h1>Bus Resevation System</h1>

<%= link_to "Bus", buses_path, :class => 'btn btn-primary' %>
<% if current_user %>
  <%= current_user.name%>
<% end %>

<% if current_bus_owner%>
  <%= current_bus_owner.name%>
<% end %>
