/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    background:  #f0f7fc;
 }
 
.home{
	align-content: center;
	padding: 150px 83px 150px 185px;
}
.center {
    text-align: center;
    padding: 40px 0px 40px 140px;
}
.seat-center{
    text-align: center;
    padding: 0px 0px 45px 0px;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 15px;
    }
.seat {
	padding: 0px 0px 15px 10px;
}
.col-lg-4.col {
    border-style: ridge;
    padding: 11px 0px 0px 0px;
}
.no_result_found {
    padding: 0px 0px 0px 245px;
}
/*--------------------------------- Resevation Timer ---------------------------------*/
.timer {
    display: -webkit-box;
    color: #000000;
    font-size: 25px;
    padding: 15px 0px 11px 275px;
}
/*--------------------------------- Resevation Booking ---------------------------------*/
p.green_colored {
    color: green;
}

p.red_colored {
    color: red;
}

p.yellow_colored {
    color: #c27303;
}
/*---------------------------------- List Count for Admin ---------------------------------*/
.col-md-6.count {
    padding: 25px 0px 0px 265px;
}
a{
    color: #000;
}
a:hover {
    color: blue;
    background-color: #fff0;
    text-decoration: none;
}
button#search {
    padding: 1px 25px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 15px 15px 15px 15px;
    background: #c5e7ff;
}
button#search:hover {
    padding: 1px 25px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 15px 15px 15px 15px;
    background: #c5e7ff;
    box-shadow: 4px 4px 20px 0px #428aca;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 15px;
    background: #c5e7ff;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: #c5e7fe;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #c5e7fe;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}