/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.home{
	align-content: center;
	padding: 150px 83px 150px 185px;
}
.center{
	text-align: center;
	padding: 0px 0px 45px 0px;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 15px;
    }
.seat {
	padding: 0px 0px 15px 10px;
}
.col-lg-4.col {
    border-style: ridge;
    padding: 11px 8px 0px 0px;
}