/*--------------------------------------- Seat ---------------------------------------*/
.col-md-3.seat {
    padding: 7px 0px 15px 5px;
}

/*-------------------------------- Seats in a center --------------------------------*/
.seat-center{
    text-align: center;
    padding: 0px 0px 45px 0px;
}
/*----------------------------------- Seats button -----------------------------------*/
.my-btn-xs, .btn-group-xs>.btn {
    padding: 0px 22px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
/*--------------------------------- Resevation Timer ---------------------------------*/
.timer {
    display: -webkit-box;
    color: #000000;
    font-size: 25px;
    padding: 15px 0px 11px 275px;
}
/*-------------------------------- Resevation Booking --------------------------------*/
p.green_colored {
    color: green;
}

p.red_colored {
    color: red;
}

p.yellow_colored {
    color: #c27303;
}
/*----------------------------------- Top Margin -----------------------------------*/
label.my-control-label.col-lg-2 {
    padding: 50px 0px 0px 0px;
}
/*----------------------------------- Clickable -----------------------------------*/
.clickable-row{
    cursor: pointer;
}
/*--------------------------------------- end ---------------------------------------*/